*.log
/.classpath
/.project
/.settings
/target
/target-eclipse
/grails-chinese-seo-friendly-urls-*.zip
/grails-chinese-seo-friendly-urls-*.zip.sha1
/plugin.xml
/web-app
/chinese-seo-friendly-urls-config.groovy